<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Doctor Manager</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .nav-link{
            color: aliceblue;
        }

    </style>

</head>
<body>

<nav style="background: #120136;margin-bottom: 0px;" class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a style="color: #fcbf1e;" class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">HealthCare System</a>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav style="background: #035aa6; padding:0;height:1000px;" class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <span data-feather="home"></span>
                            Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/appointment">
                            <span data-feather="file"></span>
                            Appointments
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/doctors">
                            <span data-feather="shopping-cart"></span>
                            Doctors
                        </a>
                    </li>

                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">

                    <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>

            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">


            <div align="center">
                <h1>Create an Appointment</h1>
                <br />
                <form action="#" th:action="@{/save}" th:object="${appointment}"
                      method="post">


                    <div class="form-group">
                        <label >Appointment date:</label>
                        <input type="text" th:field="*{date}" class="form-control"  aria-describedby="emailHelp" placeholder="Enter Appointments date">
                    </div>

                    <div class="form-group">
                        <label >Appointment time:</label>
                        <input type="number" th:field="*{time}" class="form-control"  aria-describedby="emailHelp" placeholder="Enter Appointments date">
                    </div>

                    <div class="form-group" style="display: none;">
                        <label >Patient Name:</label>
                        <input type="text"  th:value="${currentUser.getUsername()}"  id="patientName" name="patientName"  class="form-control"  aria-describedby="emailHelp" readonly>
                    </div>

                    <div class="form-group">
                        <label>Doctor name:</label>
                        <input type="text" th:field="*{doctorName}" class="form-control"  aria-describedby="emailHelp" placeholder="Enter Doctor's name">
                    </div>

                    <!--

                    <table border="0" cellpadding="10">
                        <tr>
                            <td>Doctor Name:</td>
                            <td>
                                <input type="text" th:field="*{name}" />
                            </td>
                        </tr>
                        <tr>
                            <td>Doctor specialization:</td>
                            <td><input type="text" th:field="*{specialization}" /></td>
                        </tr>
                        <tr>
                            <td>Doctor Address:</td>
                            <td><input type="text" th:field="*{address}" /></td>
                        </tr>
                        <tr>
                            <td>Doctor Department:</td>
                            <td><input type="text" th:field="*{departmentid}" /></td>
                        </tr>

                        -->
                    <tr>
                        <td colspan="2"><button type="submit">Save</button> </td>
                    </tr>
                    </table>
                </form>
            </div>



        </main>
    </div>
</div>


<!-- end of bootstrap-->



</table>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="dashboard.js"></script>



</body>
</html>